.App {
  text-align: center;
}

.sign-up {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  margin: auto;
  padding-top: 200px;
  height: 10%;
  width: 40%;
}

.sign-up button {
  margin-top: 100px;
}

.board {
  width: 30rem;
  height: 30rem;
  margin: auto;
  border: 1px solid black;
  display: flex;
  flex-wrap: wrap;
}

.square {
  width: 10rem;
  height: 10rem;
  border: 1px solid black;
  box-sizing: border-box;
  background-color: paleturquoise;
}

.square:hover {
  background-color: beige;
  cursor: pointer;
}

.symbol {
  font-size: 3rem;
}

.pending {
  pointer-events: none;
}

.winner {
  background-color: springgreen;
}

button {
  margin: 20px 0;
  padding: 10px 20px;
  font-size: 2rem;
}

.move {
  background-color: rgb(119, 255, 137);
}
