.App {
  text-align: center;
}

.sign-up {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  /* border: 1px solid; */
  margin: auto;
  padding-top: 200px;
  height: 10%;
  width: 40%;
}

.sign-up button {
  margin-top: 100px;
}
